.list {
  margin: auto;
  margin-top: 50px;
  max-width: 800px;
  background-color: white;
}

.item:first-child {
  border-top: 1px solid #e0e0e0;
}

.item {
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.item > * {
  width: 33%;
}

.thumbnail {
  max-height: 40px;
}

.title {
  font-size: 0.9em;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  color: white;
  background-color: #f44336;
}
